.header {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: brown;
}

.nav {
    margin: 0 auto;
    padding: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

NavLink {
    text-decoration: none;
}

NavLink:hover {
    text-decoration: none;
}

NavLink:active {
    text-decoration: none;
}

NavLink:visited {
    text-decoration: none;
}

.button {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}