.main {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
}

.todos {
    font-size: 1.2rem;
    color: blue;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

input, button {
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px -3px;
}

button {
    border: none;
    color: white;
    background-color: brown;
}

.submit {
    box-shadow: 2px 2px 5px -3px;
}