.tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 750px;
    background-color: green;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}