.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}

.form-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

button, input[type='submit'] {
background-color: green;
border: none;
color: brown;
padding: 5px;
font-size: 1.2rem;
}