.main {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
}